.el-menu {
  border-right: none !important;
}

.el-menu-hover-bg-color {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.el-menu-item {
  height: 56px !important;
  line-height: 56px !important;
}

.el-menu-item,
.el-sub-menu__title {
  color: #dadada;
}

.el-sub-menu__title i {
  font-size: 22px;
}

.el-menu--collapse {
  width: 64px !important;
}

// 水平菜单、横向菜单高亮 背景色，鼠标 hover 时，有子级菜单的背景色
.el-menu-item.is-active,
.el-sub-menu.is-active .el-sub-menu__title,
.el-sub-menu:not(.is-opened):hover .el-sub-menu__title {
  @extend .el-menu-hover-bg-color;
}

.el-sub-menu.is-active.is-opened .el-sub-menu__title {
  background-color: unset !important;
}

.el-popper.is-pure.is-light {
  // 水平菜单
  .el-menu--vertical {
    background-color: #354e67;

    .el-sub-menu.is-active .el-sub-menu__title {
      color: var(--el-menu-active-color);
    }

    .el-popper.is-pure.is-light {
      .el-menu--vertical {
        .el-sub-menu .el-sub-menu__title {
          background-color: unset !important;
          color: #dadada;
        }

        .el-sub-menu.is-active .el-sub-menu__title {
          color: var(--el-menu-active-color);
        }
      }
    }
  }
}
